{% extends 'base.html' %}
{% block title %}A Game!{% endblock %}

{% block content %}
    <form action="/madlib">Fill out this form:
        <br>
        <br>
        Please choose a person:
        <input type="text" name="person"></input>
        <br>
        <br>
        Choose a color:
        <select name="color">
            <option value="red">Red</input>
            <option value="violet">Violet</input>
            <option value="blue">Blue</input>
            <option value="green">Green</input>
        </select>
        <br>
        <br>
        Please choose a noun:
        <input type="checkbox" name="noun" value="street">street</input>
        <input type="checkbox" name="noun" value="mouse">mouse</input>
        <input type="checkbox" name="noun" value="pumpkin">pumpkin</input>
        <input type="checkbox" name="noun" value="wall">wall</input>
        <br>
        <br>
        Please choose an adjective:
        <input type="radio" name="adjective" value="shiny">shiny</input>
        <input type="radio" name="adjective" value="rambunctious">rambunctious</input>
        <input type="radio" name="adjective" value="energetic">energetic</input>
        <input type="radio" name="adjective" value="colorful">colorful</input>
        <br>
        <br>
        <input type="submit"></input>
    </form>

{% endblock %}
